navbar

header#banner.hero-unit
  .container
    h1 littlePlace
    p.lead private yelp


.container
  .row
    .col-md-offset-4.col-md-4
      .well
        oauth-buttons(classes='btn-block')

footer
