navbar

header#banner.hero-unit
    postme

.container
  .col-md-8.col-md-offset-2
      h2 Activity Feed
      ul.list-unstyled.feed
        li(ng-repeat="activity in currentUser.activity.results")
          span.pull-right(am-time-ago="activity.time")

          a(ng-if="activity.foreign_id", ng-href="/review/{{activity.foreign_id}}") View


          span(ng-class="{'glyphicon-user': activity.verb === 'joinGroup', 'glyphicon-ok': activity.type === 'review'}").glyphicon
          | {{activity.title}}
