navbar

header#banner.hero-unit
.container
  .col-sm-6
    div(ng-controller="joinGroupCtrl", ng-include="'app/group/joingroup.html'")
  .col-sm-6
    div(ng-controller="createGroupCtrl", ng-include="'app/group/creategroup.html'")
